<div class="well home_header">
  <h1 id="buy_header">Buy Jolt Now!</h1>

  <%= image_tag("jolt_revolt.jpg", size: "300x400") %><br>

  <%= link_to 'Purcahse Jolt!', new_sale_path, class: "btn btn-success btn-lg", id: "purchase_button" %><br>
  <%= link_to 'Simulate Sales', simulate_sales_path, class: "btn btn-warning btn-lg", id: "purchase_button" %>
  <%= link_to 'Delete Sales', delete_all_sales_path, class: "btn btn-danger btn-lg", id: "purchase_button" %>
</div>

<div class="col-sm-4 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Sale Stats</h1>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table" id="sale_stats">
          <thead>
            <th>Units Sold</th>
            <th>Units Shipped</th>
          </thead>
          <tbody>
            <tr>
              <td id="units_sold"><%= Sale.all.pluck(:units).sum %></td>
              <td id="units_shipped"><%= Sale.shipped.pluck(:units).sum %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Geographical Shipments</h1>
    </div>
    <div class="panel-body">
      <div id="map" style='width: 100%; height: 600px;'></div>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Sale Details</h1>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table" id="sale_names">
          <thead>
            <th>First Name</th>
            <th>Quantity</th>
            <th>City</th>
            <th>Country</th>
          </thead>
          <tbody>
            <% @sales.each do |sale| %>
            <tr>
              <td><%= sale.first_name %></td>
              <td><%= sale.units %></td>
              <td><%= sale.city %></td>
              <td><%= sale.country %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });

  // Enable pusher logging - don't include this in production
  // Pusher.log = function(message) {
  //   if (window.console && window.console.log) {
  //     window.console.log(message);
  //   }
  // };

  var pusher = new Pusher('dbeefee1fadf19b8ac8c');
  var channel = pusher.subscribe('sales_channel');

  channel.bind('new_sale', function(data) {
    $('#units_sold').text(data.message.units_sold)
    $('#units_shipped').text(data.message.units_shipped)

    $('#sale_names').find('tbody')
      .append($('<tr>')
        .append($('<td>')
          .text(data.message.first_name)
        )
        .append($('<td>')
          .text(data.message.units)
        )
        .append($('<td>')
          .text(data.message.city)
        )
        .append($('<td>')
          .text(data.message.country)
        )
      )
  });

  channel.bind('new_shipment', function(data) {
    $('#units_shipped').text(data.message.units_shipped)
  });

  channel.bind('update_map', function(data) {
    // handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(data.message.marker_data);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });
</script>
