<h1>Sale Stats</h1>

<div class="table-responsive">
  <table class="table" id="sale_stats">
    <thead>
      <th>Units Sold</th>
      <th>Units Shipped</th>
    </thead>
    <tbody>
      <tr>
        <td id="units_sold"><%= Sale.all.pluck(:units).sum %></td>
        <td id="units_shipped"><%= Sale.shipped.pluck(:units).sum %></td>
      </tr>
    </tbody>
  </table>
</div>

<h1>Sales</h1>
<div class="table-responsive">
  <table class="table" id="sale_names">
    <thead>
      <th>First Name</th>
      <th>Quantity</th>
      <th>City</th>
      <th>Country</th>
    </thead>
    <tbody>
      <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.first_name %></td>
        <td><%= sale.units %></td>
        <td><%= sale.city %></td>
        <td><%= sale.country %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

</br>
<%= link_to 'Purcahse Jolt!', new_sale_path %>

<script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script>
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };

  var pusher = new Pusher('dbeefee1fadf19b8ac8c');
  var channel = pusher.subscribe('sales_channel');

  channel.bind('new_sale', function(data) {
    $('#units_sold').text(data.message.units_sold)
    $('#units_shipped').text(data.message.units_shipped)

    $('#sale_names').find('tbody')
      .append($('<tr>')
        .append($('<td>')
          .text(data.message.first_name)
        )
        .append($('<td>')
          .text(data.message.units)
        )
        .append($('<td>')
          .text(data.message.city)
        )
        .append($('<td>')
          .text(data.message.country)
        )
      )
  });

  channel.bind('new_shipment', function(data) {
    $('#units_shipped').text(data.message.units_shipped)
  });
</script>
