<h1>Sales</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>First Name</th>
      <th>Quantity</th>
      <th>City</th>
      <th>Country</th>
    </thead>
    <tbody>
      <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.first_name %></td>
        <td><%= sale.units %></td>
        <td><%= sale.city %></td>
        <td><%= sale.country %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

</br>
<%= link_to 'Purcahse Jolt!', new_sale_path %>
